<app-custom-timeline [explanation]="explanation" [missions]="mbtiMissions"
    planetImage="assets/fardamoon-event/mbti-component/s2-3.png"
    shazdeClass="absolute w-28 top-8 left-16 lg:w-40 lg:top-80 lg:left-60"
    shazdeImage="assets/fardamoon-event/mbti-component/p3.png"></app-custom-timeline>


<img (click)="goBack()" src="assets/fardamoon-event/back-route.png" class="absolute left-2 top-2 w-9" alt="">

<audio hidden class="hidden"  id="player" src="assets/new-voices/mbti.mp3" autoplay></audio>

<div class="">
    <button *ngIf="showAudio"  onclick="document.getElementById('player').pause()" (click)="onShow()">
        <img src="assets/fardamoon-event/audio.png" class="absolute right-2 top-2 w-9" alt="">
    </button> 
    <button *ngIf="!showAudio" onclick="document.getElementById('player').play()" (click)="onShow()" >
        <img src="assets/fardamoon-event/no-audio.png" class="absolute right-2 top-2 w-9" alt="">
    </button> 
</div>