<section class="flex flex-col gap-y-3 justify-center items-center">
    <div class="flex items-center gap-x-1">
        <!-- <img src="assets/fardamoon/images/info2.png" class="w-8" alt="info"> -->
        <p class="text-mainColor text-sm">
            {{message}}
        </p>
    </div>
    <div class="flex items-center gap-6">
        <div style="border:dashed 4px #F67A2A50"
            class="sec py-1 px-4 bg-mainColor text-3xl rounded text-mainColor font-sansbold bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10">
            {{second}}</div>
        <div style="border:dashed 4px #F67A2A50"
            class="sec py-1 px-4 bg-mainColor text-3xl rounded text-mainColor font-sansbold bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10">
            {{minute}}</div>
        <div style="border:dashed 4px #F67A2A50"
            class="sec py-1 px-4 bg-mainColor text-3xl rounded text-mainColor font-sansbold bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10">
            {{hour}}</div>
    </div>
</section>