@import "../../../../styles.scss";

.spacecraft {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: scale(0.2);
  z-index: 1000;
  opacity: 0.9;
}

::ng-deep {
  .mat-tooltip {
    color: #090a0f !important;
    background-color: #fff !important;
    font-size: 13px;
  }

  .neonButton {
    color: #fff !important;
  }

  .neonButton:hover {
    color: #fff;
    background: $fardamoonPrimary;
    box-shadow: 0 0 10px $fardamoonPrimary, 0 0 40px $fardamoonPrimary,
      0 0 80px $fardamoonPrimary;
    /*in hamon jayee hast ke bad az dore kamel roshan mishe*/
  }

  .neonButton span:nth-child(1) {
    background: linear-gradient(90deg, transparent, $fardamoonPrimary);
  }

  .neonButton span:nth-child(3) {
    background: linear-gradient(270deg, transparent, $fardamoonPrimary);
  }

  .neonButton span:nth-child(2) {
    background: linear-gradient(180deg, transparent, $fardamoonPrimary);
  }

  .neonButton span:nth-child(4) {
    background: linear-gradient(360deg, transparent, $fardamoonPrimary);
  }
}