.half-moon {
  width: 55px;
  position: absolute;
  left: 44px;
  top: 175px;
}

.earth {
  width: 75px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-animation: spin 7s linear infinite;
  -moz-animation: spin 7s linear infinite;
  animation: spin 7s linear infinite;
}

.orange-planet {
  width: 75px;
  position: absolute;
  top: 23%;
  right: 2%;
  -webkit-animation: spin 7s linear infinite;
  -moz-animation: spin 7s linear infinite;
  animation: spin 7s linear infinite;
}

.pink-planet {
  width: 75px;
  position: absolute;
  left: 2%;
  bottom: 40%;
  -webkit-animation: spin 7s linear infinite;
  -moz-animation: spin 7s linear infinite;
  animation: spin 7s linear infinite;
}

.yellow-planet {
  width: 75px;
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(0px, -105px);
}

.red-planet {
  width: 75px;
  position: absolute;
  right: 70%;
  top: 70%;
  -webkit-animation: spin 7s linear infinite;
  -moz-animation: spin 7s linear infinite;
  animation: spin 7s linear infinite;
}

.asteroid1 {
  width: 54px;
  position: absolute;
  left: 10%;
  top: 5%;
}

.asteroid2 {
  width: 44px;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(0px, 222px);
}

.asteroid3 {
  width: 44px;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translate(0px, 222px);
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1475px) {
  .earth {
    top: 60%;
    right: 5%;
  }

  .half-moon {
    left: 4%;
    top: 39%;
    width: 44px;
  }
}

@media (max-width: 1320px) {
  .orange-planet {
    right: 4%;
  }

  .pink-planet {
    left: 2%;
  }

  .yellow-planet {
    transform: translate(0px, -75px);
  }

  .half-moon {
    width: 39px;
    position: absolute;
    left: 3%;
    top: 35%;
  }

  .asteroid1 {
    left: 18%;
    top: 1%;
  }

  .asteroid3 {
    left: 7%;
    transform: translate(0px, 266px);
  }
}

@media (max-width: 1218px) {
  .red-planet {
    right: 65%;
  }
}

@media (max-width: 1088px) {
  .red-planet {
    right: 15%;
    top: 85%;
  }

  .half-moon {
    top: 13%;
  }

  .yellow-planet {
    width: 75px;
    top: 20%;
    right: 70%;
    transform: translate(0px, 0px);
  }
}

@media (max-width: 880px) {
  .yellow-planet {
    width: 55px;
    right: 80%;
  }

  .orange-planet {
    width: 44px;
  }

  .pink-planet {
    width: 55px;
  }

  .red-planet {
    width: 44px;
  }

  .asteroid3 {
    left: 7%;
    transform: translate(0px, 275px);
  }

  .asteroid1 {
    left: 20%;
    top: 10%;
  }
}

@media (max-width: 750px) {
  .red-planet {
    right: 15%;
    top: 85%;
    width: 50px;
  }

  .earth {
    width: 50px;
    top: 90%;
    right: 75%;
  }

  .pink-planet {
    left: 4%;
    width: 44px;
  }

  .asteroid1 {
    width: 32px;
  }
}

@media (max-width: 578px) {
  .yellow-planet {
    display: none;
  }

  .asteroid1 {
    left: 7px;
  }
}