<ul class="flex flex-wrap">
    <li *ngFor="let tab of tabsArray; let sr = index" (click)="setTab(sr)"
        [ngClass]="activatedTab == sr ? 'border-newPrimary' : 'text-neutrals0 border-[#DDE2E6] '"
        class="flex items-center gap-x-1 py-4 px-3 hover:text-newPrimary border-t-2 hover:border-newPrimary font-medYekan focus:border-transparent transition-all duration-500 cursor-pointer text-sm">
        <div [ngClass]="activatedTab == sr ? 'bg-[#fb606830]  opacity-100' : 'opacity-0'"
            class="w-3 h-3  rounded-full flex flex-col items-center justify-center transition-all duration-300">
            <div [ngClass]="activatedTab == sr ? 'bg-newPrimary opacity-100' : 'opacity-0'"
                class="w-1.5 h-1.5  rounded-full transition-all duration-700">
            </div>
        </div>
        {{tab}}
    </li>
</ul>