<section class="vwhSection justify-center py-6">
  <!-- repeated stars -->
  <app-repeated-stars></app-repeated-stars>
  <!-- questionBox && wooden board -->

  <div
    class="container questionCard z-50 relative grid grid-cols-12 justify-center items-center gap-x-6 gap-y-6 px-3 sm:px-6 md:px-12 py-8">
    <div *ngIf="!startGame" class="col-span-12 flex flex-col">
      <div class="content text-surface">
        <h2 class="text-surface text-base md:text-lg lg:text-xl mb-6">
          سلام من راهنمای شما هستم !
          امیدوارم که بتوانیم با هم دیگه توی کارمون اتفاقات خیلی خوبی را رقم بزنیم! :)
        </h2>
        <div class="text-sm flex flex-col gap-y-6">
          <p>
            ما توی کارمون هر شخص یه کار به خصوص برای خودش داره مثلا من مسئول تازه وارد هام :)
          </p>
          <p>
            اتفاقا به این کارم خیلی اتفاق می کنم چون دقیقا با علایق و سلایق من هم خونی داره یعنی بخوام بگم از این کارم
            هم لذت می برم
            هم احساس مفید بودن دارم و حتی خسته ام نمی شم ازش چون کلی آدم جدید می بینم و اونا رو راهنمایی می کنم به سمت
            کاری که به
            درد سیاره مون یعنی کارمون می خوره ! البته این رو بگم که بعد از اون اتفاق به این جا رسیدم . . .
          </p>
          <p>
            الان چند وقتی هست که برای تازه واردین به کارمون باید یه سری آزمون بدیم شاید بگید " ای بابا " ولی واقعیت این
            هست که ما
            دوست نداریم که شما هر کاری که توی کارمون هست رو تجربه کنید تا انتخاب کنید شاید مدت زمان سفرتون کافی نباشه تا
            همه کارهای
            توی سیاره کارمون رو تجربه کنید !
          </p>
          <p>
            خب یعنی سه سری سوال باید پاسخ بدیم تا بتونیم کار و تخصصی که شما احتمالا توی سیاره ما به دردش می خورید پیدا
            کنیم .
          </p>
          <p>
            قراره که خودتون رو اول بشناسید . من با کمک شما قرار هست این منظومه رو پرشکوه تر از قبل کنیم .
          </p>
          <p>
            اما اون اتفاقه چی بود که تو کارمون افتاد !
            بذارید اتفاقات رو براتون نقل کنم :)
          </p>
          <p>
            توی کارمون اتفاقات عجیب و غریبی می افتاد مثلاً همین آقا اسماعیل که مغازه لبنیات فروشی داره تصمیم گرفته بود
            که به یک
            مشاور درسی تبدیل بشه فکر می کرد که پول توی مشاوره درسی و درس و مشاوره درسی هم کاری سختی نیست !
          </p>
          <p>
            یا مثلاً آقا مهدی از آدم های خلاقه که الان کارش برنامه نویسی هست تصمیم گرفته بود که آزمایشگاه زیست شناسی
            فعالیت کنه و
            دارو های جدید بسازه تا مردم سیاره رو از هرچی بیماری هست دور کنه !
          </p>
          <p>
            این اتفاقات عجیب و غریب از چند وقت قبل تر شروع شده بود والان که کلی آدم آمدن اینجا که قراره شغل خودشونو مشخص
            کنند تا
            اینکه بتونن اتفاق بهتری رو برای خودشون رقم بزند نتیجه این تغییرات باعث شده که کلی شغل خالی توی این سیاره
            داشته باشیم چون
            کسی نمی دونست چه شغلی براش خوبه و یه هفته نشده از سختی ها خسته می شد و می رفت سراغ شغل دیگه و حتی یک سری شغل
            آنقدر ساکن
            های مختلف حتی از سیاره های دیگه داوطلب دارند که برای این شغل توی کارمون رقابت شغلی ایجاد کرده !
          </p>
          <p>
            حال این شما هستید و انتخاب هاتون که در مسیر مسافرتتون کارمون هست .
            تعدادی پیشنهاد شغلی برای شما آماده کردم.
          </p>
          <p>
            برای اینکه مشخص بشه چه کاری بیشتر و برای چه کاری کمتر دوست دارید و یا به بیان دیگه در کدام مهارت میتونید
            مفیدتر واقع بشی
            در مقابل هر سوال به میزان علاقه خودت به این کار از ۱ تا ۵ نمره بده یک معنی خیلی کم و ۵ یعنی بسیار بسیار
            زیاد...
          </p>
          <p>
            راستی من همراهت هستم :)
            پس به کاری ها بر اساس میزان علاقه ات و چیزی که فکر می کنی توانایی داری
            و یا به بیان دیگه در کدام مهارت میتونید مفیدتر واقع بشی در مقابل هر سوال به میزان
            <span class="bg-fardamoonPrimary rounded-sm font-sansbold px-1 py-0.5">
              از 1 تا 5 با دکمه کشویی نمره بده :)
            </span>
          </p>
          <p class="text-red-600 bg-neutral-200 font-sansbold text-sm w-fit px-4 py-3 md:px-2 md:py-1 rounded">
            راستی یادتون باشه که باید نمره ها رو بین ۱ و ۵ انتخاب کنید
            صفر یعنی به اون سوال پاسخ ندادید و وقتی به سوالی پاسخ ندید باعث میشه که نتونید امتیاز این بخش رو بگیرید و به
            مراحل دیگه برید
          </p>
        </div>
      </div>
      <button (click)="onStartGame()"
        class="mt-6 self-end bg-fardamoonPrimary hover:bg-opacity-80 px-4 py-2 rounded text-surface text-sm md:text-base">
        شروع به پاسخ دادن
      </button>
    </div>
    <div *ngIf="!startGame" class="col-span-12 order-first flex flex-col justify-center items-center">
      <video class="w-full md:w-1/2" controls autoplay>
        <source src="assets/fardamoon/videos/karmoon-teaser.mp4" type="video/mp4">
      </video>

    </div>
    <div *ngIf="startGame" class="col-span-12 flex flex-col">
      <multi-step-form-builder [multiStepForm]="karmoonSecondYearChallenge"
        (stepsCompleted)="stepsCompleted($event)"></multi-step-form-builder>
    </div>
    <!-- <div *ngIf="karmoon2Progress?.completedAt">
      <div *ngIf="isKarmoon2Completed(); then karmoon2Completed else karmoon2Waiting"></div>
      <ng-template #karmoon2Completed>
        create another form here
      </ng-template>
      <ng-template #karmoon2Waiting>
        زمان ارسال فرم کارمون نرسیده است
      </ng-template>      
    </div> -->
  </div>


  <!-- planet-image -->
  <div class="absolute bottom-0">
    <img src="assets/fardamoon/images/half-job-planet.png" class="w-full" />
  </div>
  <!-- goBack -->
  <app-button (click)="goBack()" title="بازگشت" [icon]="'assets/icons/solar-system.png'" iconClass="w-8"
    classes="goBack absolute top-4 left-3 z-50 text-xs flex gap-x-0.5 hover:text-white"></app-button>

</section>